@model IEnumerable<HDQueue.Data.Entities.Ticket>

@{
    ViewBag.Title = "Tickets";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Detalle)
        </th>
        <th>

            @Html.Label("Cliente")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contacto)
        </th>
        <th>
            @Html.Label("Opciones")
        </th>
        
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Titulo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Detalle)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.User.Nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Fecha)
    </td>
    <th>
        @Html.DisplayFor(modelItem => item.Estado)
    </th>
    <td>
        @Html.DisplayFor(modelItem => item.Contacto)
    </td>
    <td>
        @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |*@
        @Html.ActionLink("Details", "Details", new { id = item.Id })
    </td>
</tr>
    }

</table>